.AsDisciplinas {
    padding: 0;
}

.AsDisciplinas .TituloDaPagina {
    padding: 0;
    margin-bottom: 20px;
}

.AsDisciplinas .CardDefault .Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width:400px) {

    .AsDisciplinas .CardDefault .Container,
    .AsDisciplinas .CardDefault,
    .AsDisciplinas {
        padding: 0;
        gap: 10px;
        margin: 0 0 0 0;
        grid-gap: 10px;
    }
}

@media screen and (max-width:260px) {
    .AsDisciplinas .CardDefault .Container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}