.SeccaoDeSpinner {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca);
    z-index: 999999999;
    top: 65px;
    left: 0;
    display: none;
}

.spinner {
    margin: auto;
    position: relative;
    width: 15.7px;
    height: 15.7px;
}

.spinner div {
    animation: spinner-4t3wzl 1.2s infinite backwards;
    background-color: var(--cor-azul);
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-child(1) {
    animation-delay: 0.1s;
    background-color: #0b4d9ce6;
}

.spinner div:nth-child(2) {
    animation-delay: 0.2s;
    background-color: #0b4d9ccc;
}

.spinner div:nth-child(3) {
    animation-delay: 0.3s;
    background-color: #0b4d9cb3;
}

.spinner div:nth-child(4) {
    animation-delay: 0.4s;
    background-color: #0b4d9c99;
}

.spinner div:nth-child(5) {
    animation-delay: 0.5s;
    background-color: #0b4d9c80;
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}