.Header {
    background-color: var(--cor-azul);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.Header .Links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
}

.Header .Links .Logo {
    color: var(--cor-branca);
    text-transform: uppercase;

    span {
        text-transform: lowercase;
        font-size: .5em;
    }
}

.Header .Links button,
.Header img {
    border-radius: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 5px;
    color: var(--cor-branca);
}

.Header .Perfil .LinhaX {
    margin-inline: 20px;
    max-width: 220px;
}

.Header .Perfil {
    position: fixed !important;
    top: 60px;
    border: 0;
    right: 30px;
    width: 100%;
    max-width: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);
    box-shadow: -3px 3px 20px 0 #00000016;
}

.Header .Perfil .Info {
    display: flex;
    padding: 20px 20px 10px 20px;
    gap: 10px;
}

.Header .Perfil .Info img {
    border: 1px solid var(--cor-azul);
    cursor: default;
}

.Header .Perfil .Info .NomeDoUsuario {
    color: var(--cor-do-titulo-preto);
    font-weight: 600;
}

.Header .Perfil .Info .Usuario {
    font-size: .9em;
}

.Header .Perfil nav ul {
    list-style: none;
    padding: 10px 0 20px 0;
}

.Header .Perfil nav ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding-inline: 20px;
    transition: .2s ease;

    &:hover {
        background-color: var(--cor-cinza-a);
    }
}

.Header .Perfil nav ul li a .Icon {
    display: flex;
    font-size: 1.4em;
}

.Header .Perfil nav ul li .Sair {
    justify-content: center;
    border-radius: 5px;
    border: var(--borda-azul);
    margin-inline: 20px;
    margin-top: 10px;

    &:hover {
        background-color: var(--cor-vermelha);
        color: var(--cor-branca);
        border: var(--borda-vermelha);
    }
}