.HeaderSecundario {
    background-color: var(--cor-branca);
    padding-block: 30px;
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: static;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    position: fixed;
    box-shadow: -3px 3px 20px 0 #00000016;
}

.HeaderSecundario .Titulo {
    text-transform: uppercase;
    color: var(--cor-preta);
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderSecundario .Titulo .IconFechar {
    font-size: 1.3em;
    cursor: pointer;
    display: none;
}

.HeaderSecundario nav ul {
    display: flex;
    flex-direction: column;
}

.HeaderSecundario nav ul,
.HeaderSecundario nav ul li details summary {
    list-style: none;
}

.HeaderSecundario nav ul .TipoLink {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-inline: 30px;
    height: 45px;
    color: var(--cor-preta);

    &:hover {
        background-color: var(--cor-cinza-a);
    }

    .Icon {
        font-size: 1.5em;
    }
}

.HeaderSecundario nav ul li details .Lista {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.HeaderSecundario nav ul li details .Lista li {
    display: flex;
    align-items: center;
}

.HeaderSecundario nav ul li details .Lista li a {
    padding-block: 5px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    padding-inline: 15px;
    width: 85%;
    transform: translateX(20px);

    &:hover {
        background-color: var(--cor-cinza-a);
        color: var(--cor-preta);
    }
}

@media screen and (max-width:850px) {
    .HeaderSecundario {
        position: fixed;
        top: 67px;
        left: 0;
        z-index: 99999;
    }

    .HeaderSecundario.minimizado {
        width: 90px;

        & .Titulo p,
        & nav ul .TipoLink p {
            display: none;
        }
    }

    .HeaderSecundario .Titulo,
    .HeaderSecundario nav ul .TipoLink {
        padding-inline: 30px;
    }

    .HeaderSecundario .Titulo .IconFechar {
        display: block;
    }

    .Pano {
        position: absolute;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.126);
        z-index: 9999;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:278px) {

    .HeaderSecundario .Titulo,
    .HeaderSecundario nav ul .TipoLink {
        padding-inline: 20px;
    }
}

@media screen and (max-width:278px) {
    HeaderSecundario {
        gap: 0;
    }

    .HeaderSecundario .Titulo {
        justify-content: end;
    }

    .HeaderSecundario .Titulo p {
        display: none;
    }

    .HeaderSecundario nav {
        margin-top: -40px;
    }
}